Exercises/1.XML/ex2/schema2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2022 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="street"/>
				<xs:element ref="nr"/>
				<xs:element ref="city"/>
				<xs:element ref="countryCode"/>
			</xs:sequence>
			<xs:attribute name="zipcode" use="required" type="xs:short"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="birthdate" type="xs:string"/>
	<xs:element name="city" type="xs:string"/>
	<xs:element name="countryCode" type="xs:string"/>
	<xs:element name="families">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="family" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="family">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="familyName"/>
				<xs:element ref="address"/>
				<xs:element ref="members"/>
				<xs:element ref="pets" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="familyName" type="xs:string"/>
	<xs:element name="firstName" type="xs:string"/>
	<xs:element name="gender" type="xs:string"/>
	<xs:element name="lastName" type="xs:string"/>
	<xs:element name="member">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="birthdate"/>
				<xs:element ref="gender"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="members">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="member" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0">
				<xs:element ref="firstName"/>
				<xs:element ref="lastName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nr" type="xs:byte"/>
	<xs:element name="pet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="species"/>
				<xs:element ref="name"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pet" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="species" type="xs:string"/>
	<xs:element name="street" type="xs:string"/>
</xs:schema>
