Exercises/1.XML/ex2/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2022 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="street"/>
				<xs:element ref="nr"/>
				<xs:element ref="city"/>
				<xs:element ref="countryCode"/>
			</xs:sequence>
			<xs:attribute name="zipcode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="2300"/>
						<xs:enumeration value="3000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="birthdate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="04/09/2001"/>
				<xs:enumeration value="06/06/1972"/>
				<xs:enumeration value="10/04/1978"/>
				<xs:enumeration value="18/01/1971"/>
				<xs:enumeration value="18/08/2000"/>
				<xs:enumeration value="22/11/1979"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="city">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Kessel-Lo"/>
				<xs:enumeration value="Turnhout"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="countryCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="BE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="families">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="family" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="family">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="familyName"/>
				<xs:element ref="address"/>
				<xs:element ref="members"/>
				<xs:element ref="pets" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="familyName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Van Buggenhout - Schillebeeckx"/>
				<xs:enumeration value="Wijnants-Otten"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="firstName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Danny"/>
				<xs:enumeration value="Kristoff"/>
				<xs:enumeration value="Peggy"/>
				<xs:enumeration value="Robin"/>
				<xs:enumeration value="Sandy"/>
				<xs:enumeration value="Yoshin"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="gender">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="F"/>
				<xs:enumeration value="M"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="lastName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Otten"/>
				<xs:enumeration value="Schillebeeckx"/>
				<xs:enumeration value="Van Buggenhout"/>
				<xs:enumeration value="Wijnants"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="member">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="birthdate"/>
				<xs:element ref="gender"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="members">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="member" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0">
				<xs:element ref="firstName"/>
				<xs:element ref="lastName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nr">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="species"/>
				<xs:element ref="name"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pet" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="species">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="cat"/>
				<xs:enumeration value="dog"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="street">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Somestreet"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
